{include file="public/head"}
<div class="main-container container-fluid">
    <div class="page-container">
        <!-- Page Sidebar -->
        {include file="public/nav"}
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li><a href="{:url('index/index')}">系统</a></li>
                    <li class="active">文章管理</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->
            <!-- Page Body -->
            <div class="page-body">
                <button type="button" tooltip="添加文章" class="btn btn-sm btn-azure btn-addon" onClick="add()">
                    <i class="fa fa-plus"></i> Add
                </button>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-body">
                                <div class="flip-scroll">
                                    <table class="table table-bordered table-hover">
                                        <thead class="">
                                            <tr>
                                                <th class="text-center">ID</th>
                                                <th class="text-center">栏目名称</th>
                                                <th class="text-center">文章标题</th>
                                                <th class="text-center">作者</th>
                                                <th class="text-center">缩略图</th>
                                                <th class="text-center">发布时间</th>
                                                <th class="text-center">点击数</th>
                                                <th class="text-center">推荐</th>
                                                <th class="text-center">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {volist name="lists" id="list"}
                                                <tr>
                                                    <td align="center">{$list.id}</td>
                                                    <!-- 通过关联模型获取关联字段的值-->
                                                    <td align="center">{$list.cates.cate_name}</td>
                                                    <td align="center">{$list.title}</td>
                                                    <td align="center">{$list.author}</td>
                                                    <td align="center" style="height: 50px;width:50px;"><img src="{$list.pic}" width="100%" height="100%"></td>
                                                    <td align="center">{$list.time|date='Y-m-d H:i:s',###}</td>
                                                    <td align="center">{$list.click}</td>
                                                    <td align="center">{$list.state == 1 ? '已推荐' : '未推荐'}</td>
                                                    <td align="center">
                                                        {if condition="$list.state eq 0"}
                                                            <a href="{:url('articles/recommend', ['id' => $list.id])}" class="btn btn-success btn-sm shiny">
                                                                <i class="fa fa-edit"></i> 推荐
                                                            </a>
                                                        {/if}
                                                        <a href="{:url('articles/edit', ['id' => $list.id])}" class="btn btn-primary btn-sm shiny">
                                                            <i class="fa fa-edit"></i> 编辑
                                                        </a>
                                                        <a href="#" onClick="warning('确实要删除吗', '{:url('articles/delete',['id'=>$list.id])}')" class="btn btn-danger btn-sm shiny">
                                                            <i class="fa fa-trash-o"></i> 删除
                                                        </a>
                                                    </td>
                                                </tr>
                                            {/volist}
                                        </tbody>
                                    </table>
                                </div>
                                <div style="text-align: center; margin-top: 12px">
                                    {$page}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->
    </div>
</div>
<script>
    function add() {
        window.location.href = "{:url('articles/add')}";
    }
</script>
<!--Basic Scripts-->
<script src="__ADMIN__/style/jquery_002.js"></script>
<script src="__ADMIN__/style/bootstrap.js"></script>
<script src="__ADMIN__/style/jquery.js"></script>
<!--Beyond Scripts-->
<script src="__ADMIN__/style/beyond.js"></script>

</body>
</html>