{include file="public/head"}
<div class="position">
    <a href="{:url('index/index')}">主页</a> >
    <a href="{:url('cate/index', ['id'=>$articles->cate_id])}">{$cate_name}</a>
</div>
<div class="overall">
    <div class="left">
        <div class="scrap">
            <h1>{$articles->title}</h1>
            <div class="spread">
                <span class="writor">发布时间：{$articles->time|date='Y-m-d',###}</span>
                <span class="writor">编辑：{$articles->author}</span>
                <span class="writor">标签：
                        {foreach name="$articles->keywords" item="words"}
                            <a target="_blank" href="{:url('search/index')}?keywords={$words}">{$words}</a>
						{/foreach}
                </span>
                <span class="writor">热度：{$articles->click}</span>
            </div>
        </div>
        <div class="takeaway">
            <span class="btn arr-left"></span>
            <p class="jjxq">{$articles->desc}</p>
            <span class="btn arr-right"></span>
        </div>

        <div class="substance">
            {$articles->content}
        </div>

        <div class="biaoqian">

        </div>
        <!--频道推荐-->
        <div class="hotsnew">
            <div class="til"><h4>相关阅读</h4></div>
            <ul>
                {empty name="releationArticles"}
                    <li style="float: none;">
                        <p style="height: 35px;">
                            <!--|mb_substr=0,13-->
                            <a href="#">暂无相关文章</a>
                        </p>
                    </li>
                    {else/}
                        {foreach name="releationArticles" item="vo"}
                            <li style="float: none;">
<!--                                <div class="tu">-->
<!--                                    <a href="{:url('article/index', ['id' => $vo['id'], 'cate_name' => $cate_name])}" target="_blank">-->
<!--                                        <img src="{$vo['pic']}" alt="{$vo['keywords']}"/>-->
<!--                                    </a>-->
<!--                                </div>-->
                                <p style="height: 35px;">
                                    <!--|mb_substr=0,13-->
                                    <a href="{:url('article/index', ['id' => $vo['id'], 'cate_name' => $cate_name])}" style="width:100px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis">{$vo['title']}</a>
                                </p>
                            </li>
                        {/foreach}
                {/empty}

            </ul>
            <div class="til"><h4>频道推荐</h4></div>
            <ul>
                {foreach name="resAr" item="vo"}
                    <li style="float: none;">
                        <div class="tu">
                            <a href="{:url('article/index', ['id' => $vo['id'], 'cate_name' => $cate_name])}" target="_blank">
                                <img src="{$vo['pic']}" alt="{$vo['keywords']}"/>
                            </a>
                        </div>
                        <p style="height: 35px;">
                            <!--|mb_substr=0,13-->
                            <a href="{:url('article/index', ['id' => $vo['id'], 'cate_name' => $cate_name])}" style="width:100px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis">{$vo['title']}</a>
                        </p>
                    </li>
                {/foreach}
            </ul>
        </div>
    </div>
    {include file="public/right"}

</div>
{include file="public/footer"}