<!DOCTYPE html>
<head>
    <title>{$title}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="tp5 xiaoxiao jixiaoxiao linux php html go" />
    <meta name="description" content="xiaoxiao个人博客" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <link href="__HOME__/style/lady.css" type="text/css" rel="stylesheet" />
    <link href="__HOME__/style/bootstrap.css" type="text/css" rel="stylesheet" />
    <script type='text/javascript' src='__HOME__/style/ismobile.js'></script>
    <script type='text/javascript' src='__HOME__/style/jquery-1.11.3.min.js'></script>
    <style>
        .ladytop {
            height: 60px;
        }

        .pages .plist li {
            border: 0px;
        }
        .currentss {
            background: #32adad;
        }
    </style>
</head>

<body>
<div class="ladytop">
    <div class="nav">
        <div class="left"><a href="{:url('index/index')}" target="_blank"><img src="__HOME__/images/hunshang.png" alt="tp5"></a></div>
        <div class="right">
            <div class="box">
                <span><a href="{:url('index/index')}" {if condition="$cate_name == '首页'"}class="currentss"{/if}>首页</a></span>
                {foreach name="cates" item="cate"}
                    <span><a href="{:url('cate/index',['id' => $cate->id, 'cate_name' => $cate->cate_name])}"  target="_blank" {if condition="$cate->cate_name == $cate_name"}class="currentss"{/if}>{$cate->cate_name}</a></span>
                {/foreach}
            </div>
        </div>
    </div>
</div>
<!--顶部通栏-->